 <div id="message-<%= message.id %>", style="position: relative;">
    <small>
    <strong><%= message.user.nickname %></strong>
    <i class="message-time"><%= message.created_at.strftime("%l:%M %p") %></i>
    </small>
    <p><%= message.content %></p>
  </div>
