// Specific CSS for your home-page, our home is the index of matches

.search-home {
  height: 40vh;
  background-image: url("https://media.istockphoto.com/id/1345098423/fr/photo/raquette-de-tennis-et-balles-de-tennis-sur-terre-battue.jpg?s=612x612&w=0&k=20&c=mpytF2VrrHwzne3my3AddVY9H_98e6AL_8RIcuy_oN4=");
  position: relative;

}
