.title {
  font-size: 40px;
  color: #253343;
  font-family: 'CherryBomb-Regular';
  font-style: normal;
  font-weight: 400;
}

.create-input {
  border: none;
  border-bottom: 2px solid #253343;
  box-shadow: #EBF95E;
  border-radius: 10px;
}

.create-input:placeholder {
  color: gray !important;
}

.transparent-input {
  background-color: transparent;
}
