.menu-bar {
  background-color: #253343;
  width: 140px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 40px;
  color: #F5F5F5;
}

.icone-participants {
  position: absolute;
  top: 5px;
  right: 7px;
}

.carte-ligues {
  position: relative;
}

.shadow-card {
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.25);
}
