.menu-bar {
  background-color: #253343;
  width: 140px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 40px;
  color: #F5F5F5;
}

.nav-item {
  .active {
    background-color: white;
    color: #253343;
  }
}

.icone-participants {
  position: absolute;
  top: 5px;
  right: 7px;
}

.carte-ligues {
  position: relative;
}
