.hexag {
  width: 80px;
  height: 80px;
  background-color: #EAF959; /* Couleur de fond de l'hexage */
  position: relative;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.show-infos {
  display: flex;
  justify-content: center;
  margin-top: -40px;
}

.banner{
  text-align: center;
  color: #253343;
  font-family: "CherryBomb-Regular";
}

// .match-infos {
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
// }

.user-infos {
  display: flex;
  align-items: bottom;
  justify-content: space-between;
}

.play-btn {
  display: flex;
  justify-content: center;
}

.size-adress{
  font-size: 25px;
}

.avatar-match{
  position: relative;
  top: -20px;
  left: 65px;
}

.card-match{
  border-radius: 10px;
  padding: 10px;
  height: 180px;
}

.position-chat{
  position: relative;
  top: 110px;
  right: 10px;
}
