.hexag {
  width: 80px;
  height: 80px;
  background-color: #EAF959; /* Couleur de fond de l'hexage */
  position: relative;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.show-infos {
  display: flex;
  justify-content: center;
  margin-top: -40px;
}

.banner{
  text-align: center;
  color: #253343;
  font-family: "CherryBomb-Regular";
}

// .match-infos {
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
// }

.user-infos {
  display: flex;
  align-items: bottom;
  justify-content: space-between;
  font-family: "Roboto";
  color: #253343;
  padding-left: 50px;

}

.play-btn {
  display: flex;
  justify-content: center;
}

.size-adress{
  font-size: 25px;
}

.avatar-match{
  position: relative;
  top: 0px;
  left: 0px;
  width: 70px;
  height:70px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: 2px solid #EAF959;

}

.card-match{
  border-radius: 10px;
  padding: 10px;
  height: 180px;
}

.button-match {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px; /* Espace entre les éléments */
}


.btn-match1 {
  height: 45px;
  width: 60%;
  background-color: #253343;
  border: none;
  color: #EAF959;
  border-radius: 10px;
  font-family:  "CherryBomb-Regular";
  position: relative;
  bottom: 10px;
  left: 40px;
}

.btn-match2 {
  height: 45px;
  color: #253343;;
  width: 60%;
  background-color: #EAF959;
  border: none;
  border-radius: 10px;
  font-family:  "CherryBomb-Regular";
  position: relative;
  top: 10px;
  left: 40px;
}

.defi-match{
  position: relative;
  bottom: 230px;
  left: 321px;

}
