  <div class="navbar">
    <div class="back-arrow">
      <%= link_to "javascript:history.back()" do %>
      <i class="fa-solid fa-arrow-left fa-2xl" style="color: #253343;"></i>
      <% end %>
    </div>
    <div class="logo">
      <%= link_to matches_path do %>
      <img src="https://res.cloudinary.com/diuabdrmm/image/upload/v1686218660/ace_vlx2py.png" alt="Logo" width="50" height="50">
      <% end %>
    </div>
  </div>
