<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div class="back-arrow">
      <%= link_to "javascript:history.back()" do %>
      <i class="fa-solid fa-arrow-left fa-2xl" style="color: #253343;"></i>
      <% end %>
    </div>

    <button class="navbar-toggler btn-log" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa-solid fa-bars fa-xl" style="color: #253343;"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
      <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
          <li class="nav-item dropdown">
            <%# <div class="dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><i class="fa-solid fa-bars"></i></div>  %>
            <div  id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 <%# <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %> 
              <%# <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item custom-dropdown-item"%>
            </div>
          </li>
          <!--li class="nav-item"-->
          <!--/li-->



      </ul>
    </div>
  </div>
</div>
