<div class="container" data-controller="test">
  <div class="card-product">
    <div class="card pub">
      <div id="close-button-container">
        <i class="fa-solid fa-xmark fa-lg" data-action="click->test#close"></i>
      </div>
      <div class="text-c">
        <p>TRAVEL-FLEX</p>
      </div>
    </div>
  </div>
</div>
