
  <%= form_with url: matches_path, method: :get, class: "" do |form| %>
    <div>
      <%= form.text_field :address, class: "form-control ace-bar ace-pad transparent-input", placeholder: "Paris", value: params[:address] %>
      <%= form.text_field :date, class: "form-control ace-bar transparent-input", placeholder: "29/05/2023", value: params[:date] %>
    </div>
  <% end %>
