<div class="search-bar">
<%= form_with url: matches_path, method: :get, class: "d-flex mt-5" do |form| %>
  <div class="input-group">
    <%= form.date_field :date, class: "form-control", placeholder: "", value: params[:date] %>
    <%= form.button type: :submit, class: "btn" do %>
      <i class="fas fa-search"></i>
    <% end %>
  </div>
<% end %>
</div>
