<h1>Indiquez le gagnant du défis</h1>

<div class="container">
  <%= simple_form_for(@match) do |f| %>

    <%= f.input :winner, as: :check_boxes,
      collection: [@match.user.name, @request.user.name ],
      label: "Gagnant:" %>
    <%= f.submit "Valider" %>
  <% end %>
</div>
