.mapboxgl-ctrl-geocoder--input {
  border: none;
  border-bottom: 2px solid #253343;
  box-shadow: #EBF95E;
  border-radius: 10px;
  width: 100%;
  background-color: transparent;
}

.mapboxgl-ctrl-geocoder--button {
  display: none;
}

.mapboxgl-ctrl-geocoder--icon {
  display: none;
}

.mapboxgl-ctrl-geocoder--input::placeholder {
  padding-left: 10px;
}
