.card-profile {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.profile-avatar {
  width: 150px;
  height: 150px;
}

.profile h3 {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.profile h4 {
  font-size: 18px;
  color: #888;
  margin-top: 0;
  margin-bottom: 20px;
}

.button-17 {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.button-17 a {
  color: black;
}

.custom-container {
  margin-top: 20px;
}

.custom-button {
  border-radius: 30px;
  background-color: #f8f8f8;
  color: #333;
  border: none;
  padding: 10px 20px;
  transform: skew(-10deg);
}

.custom-button:hover {
  background-color: #eee;
  cursor: pointer;
}

.custom-button.active {
  background-color: #ccc;
}

.container-global {
  background-color: white;
  border-radius: 5px;
  border: 1px solid #3c4043;
  margin: 5px;
}

