.card-vinted {

  padding: 10px;

  margin: 8px;

  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.card-vinted h2 {
  font-size: 18px;
  font-weight: bold;
}

.card-vinted p {
  margin-bottom: 10px;
}

.card-vinted button {
  margin-top: 5px;
  margin-left: 5px;
  padding: 10px 15px;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}


.button-half-width {
  width: 50%; /* Fait en sorte que les boutons occupent 50% de la largeur de la div parent */
  margin: 0px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button-container a {
  text-decoration: none;
}

.button-wrapper {
  display: flex;
  width: 100%; /* Fait en sorte que les boutons prennent toute la largeur de la div parent */
}




.accept-button {
  background-color: green; /* Couleur de fond verte pour le bouton "Accept" */
  /* Autres styles de bouton */
}

.refuse-button {
  background-color: red; /* Couleur de fond rouge pour le bouton "Refuse" */
  /* Autres styles de bouton */
}


.collapsed {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.expanded {
  max-height: 1000px; /* Choisissez une hauteur suffisamment grande pour afficher le contenu entier */
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.column-button {
  height: 70px;
  font-family: 'CherryBomb-Regular';
  font-size: 21px;
  border-radius: 0%;
  margin-top: 6px;
}

.column-button:focus {
  background-color: white;
  color: #253343;
}

@media (hover: none) {
  /* Styles spécifiques aux appareils mobiles sans fonctionnalité de hover */
  .column-button:active,
  .column-button:focus {
    background-color: white;
    color: #253343;
  }
}

.column {
  padding: 0%;
}

.card-score {
  background-color: #EAF959;
}

.btn-accepter {
  height: 45px;
  background-color: #253343;
  border: none;
  color: #EAF959;
  border-radius: 10px;
  font-family:  "CherryBomb-Regular";
}

.btn-refuser {
  height: 45px;
  color: #253343;
  background-color: #EAF959;
  border: none;
  border-radius: 10px;
  font-family:  "CherryBomb-Regular";
}

.btn-accepter a {
  color: #EAF959;
  font-size: 18px;
}

.btn-refuser a {
  color: #253343;
  font-size: 18px;
}
