.card {
  height: 180px;
}

.first-row {
  flex-grow: 1;
}

.btn-ace {
  height: 40px;
  width: 50%;
  background-color: #253343;
  border: none;
  color: #EAF959;
  border-radius: 10px;
}

.btn-ace a {
  color: white;
}
.btn-field {
  display: flex;
  justify-content: end;
}
