.chatroom {
  background: white;
  margin-top: 9px;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  h1 {
    border-bottom: 1px solid #253343;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    height: 100%;
    overflow: scroll;
    padding: 1rem;
  }

  #new_message {
    // border-top: 1px solid $gray-200;
    padding: 1rem;
    margin-bottom: 10px;

    .form-group {
      margin-bottom: 0;
    }
  }
}

.btn-match{
  height: 30px;
  width: 100px;
  background-color: white;
  border-color: #253343;
  color: #253343;
  border-radius: 10px;
}



 .message_content:focus, #message_content:focus {
  outline-width: 0;
  outline: none !important;
  box-shadow: none !important;
  border-bottom: 1px solid #253343;
  background-color: white;
}
