.ligue-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
}

.league_image{
  display: flex;
}

.ligue-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.ligue-item {
  flex: 0 0 30%;
}

.ligue-selector {
  position: absolute;
  transform: scale(0);
}

.ligue-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 12px;
  text-align: left;

}

.ligue-selector:checked + label {
  border: solid 1px #253343;
  border-radius: 50% !important;
  width:fit-content;

}



.form-check-label img{
  display:flex;
  width:80px;
  height:80px;
  border-radius:50%
}

.col-form-label {
  display: none;
}



.centered-input {
  margin: 0 auto;
  display: block;
  width : 50vh;
}


.form-control {
  border-radius: 10px !important;
}



.ligue-name-crea{
  font-size: 30px !important;
}
