.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  background: #EAF959;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // padding: 0px 50px;
  color: rgb(246, 243, 243);
  z-index: 999; /* Ensure it appears above other elements */
  flex-grow: 1;
}

.footer-links {
  display: flex;
  align-items: center;
  flex-grow: 1;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 9vh;
  background: #EAF959;
  display: flex;
  align-items: bottom;
  justify-content: space-between;
  // padding: 0px 50px;
  color: rgb(246, 243, 243);
  z-index: 999; /* Ensure it appears above other elements */
  flex-grow: 1;
  padding-left: 10px;
  padding-right: 10px;
}

.logo-footer a {
  color: #253343;
  text-decoration: none;
  font-size: 21px;
  padding-top: 14px;
}

.logo-footer p {
  color: #253343;
  text-decoration: none;
  font-size: 11px;
}

.logo-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.footer-links a:hover {
  opacity: 1;
}

/* Additional CSS to enable scrolling */
body {
  margin-bottom: 10vh; /* Add bottom margin equal to the footer's height */
}

.logo-match {
  margin-bottom: 40px;
  background-color: #EAF959;
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

.logo-match p {
  padding-bottom: 0%;
  margin-bottom: 0%;
  padding-top: 10px;
}
