.card-product {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  grid-gap: 11px;
  border-radius: 20px;
  padding-top: 12px;

}

.card-product a {
  text-decoration: none;
  color: black;
}

.card {
  border-radius: 10px;
  padding: 10px;
}

.save-sub {
  margin-bottom: 10px;
}
