.league-container {
  text-align: center;
}

.image-fond {
  background-image: asset-url("Rectangle-20.png");
  background-repeat: no-repeat;
  // background-size: contain;
  background-position-y: 50px;
  background-color: white;
}

.league-container a {
  color: black;
  text-decoration: none;
}
.membership-table a {
  color: black;
  text-decoration: none;
}

.league-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.membership-table {
  width: 100%;
  border-collapse: collapse;
}

.membership-table th,
.membership-table td {
  padding: 10px;
  text-align: center;
}

.membership-table th {
  background-color: #f7f7f7;
}

.membership-nickname {
  font-weight: bold;
}

.membership-points {
  color: #888;
}

.podium {
  display: flex;
  justify-content: space-around;
  align-items:end;

}

.podium h2 {
  font-size: 40px;
  color: white;
  font-family: CherryBomb-Regular;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}

.num-1 {
  background-color: #253343;
  width: 71px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 158px;
}
.num-2 {
  background-color: #253343;
  width: 71px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 98px;
}
.num-3 {
  background-color: #253343;
  width: 71px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 98px;
}

.classement {
  background-color: white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.ranking-cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ranking-card {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 80%;
  height: 70px;
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  position: relative;
}

.rank-index {
  font-size: 40px;
  color: #253343;
  font-family: CherryBomb-Regular;
  font-style: normal;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  padding-top: 3px;
}

.poubelle {
  position: absolute;
  top: 30px;
  right: 7px;

}

.chat-infos {
  text-align: left;
  padding-top: 6px;
}
