.message-row {
  margin-bottom: 10px;
  padding: 8px;
}

// To style the message itself
.sender-style, .receiver-style {
  width: 70%;
  max-width: 400px;
  border-radius: 4px;
  padding: 8px;
  min-height: 80px;
}

.sender-style {
  background-color: #253343;
  color: white;
  border: 1px solid #253343;
  border-radius: 20px;
}

.receiver-style {
  background-color: #EBF95E;
  // border: 1px solid #253343;
  border-radius: 20px;
  color: #253343;
}

.chat-nickname {
  font-size: 40px;
  color: #253343;
  font-family: 'CherryBomb-Regular';
  font-style: normal;
  font-weight: 400;}

.btn-chat {
  font-family: 'Cherry Bomb';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #253343;
  background-color: white;
  border: none;
  padding-bottom: 5px;
}

.input-chat input {
  background-color: white;
  border: none;
  border-bottom: 2px solid #253343;
}

.form-control {
  border-radius: 0px !important;
}
