.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.container-fluid {
text-align: end;
}

.custom-dropdown-item {
  background-color: white; /* Définir la couleur de fond personnalisée */
  color: #253343; /* Définir la couleur du texte personnalisée */
  font-size: 13px;
}
