.pub {
  background-image: url("https://www.linternaute.com/_montage/week-end/buzz/wanderlust/5.gif");
  background-size: 100% auto;
}

.pub p {
  color: white;
  font-weight: bold;
  font-size: 35px;
}

.text-c {
padding-left: 60px;
padding-top: 40px;
}
