.fade-wrapper {
  position: relative;
  text-align: center;
}

.fade-wrapper h4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: opacity 3s ease-in-out;
  pointer-events: none;
}

.fade-wrapper.fade-out h4 {
  opacity: 0;
}


.fade-out {
  animation: fadeOut 3s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


.fade-in {
  opacity: 0;
  animation: fade-in 0.5s ease-in forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.won {
  color: green;
}

.lost {
  color: red;
}


.score-selector {
  width: 100px;
}

.score-fields {
  margin-top: 10px;
}

.score-field {
  margin-right: 10px;
}


.custom-text-size {
  font-size: 45px;
}
.collection-text-center {
  text-align: center;
}

.category-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.category-item {
  flex: 0 0 30%;
}

.category-selector {
  position: absolute;
  transform: scale(0);
}

.category-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 18px;
  text-align: left;
  padding: 10px 10px 15px 10px;
  border: 1px solid #253343;
  border-radius: 4px;
  background-color: #F5F5F5;
  color: #253343;
}

.category-selector:checked + label {
  color: #EBF95E;
}


#match_winner_ricky + label {

}

#match_winner_ricky:checked + label {
  border: 2px solid #253343;
  background-color: #253343;

}

#match_winner_jo + label {

}

#match_winner_jo:checked + label {
  border-color: #253343;
  background-color: #253343;

}
