.small-card {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 70px;
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  position: relative;
}

.small-card p {
  font-size: 16px;
}



.chat-card a {
  text-decoration: none;
  color: black;
}

.chat-infos {
  line-height: 0.5;
}

.message-time {
  position: absolute;
  top: 5px;
  right: 7px;
}



//element for historic cards

#card-hist {
  width: 360px;
  justify-content: space-between;
  font-size: 18px;
}

.centered-element-hist {
  text-align: center;
}

.left-icon {
  display: flex;
  align-items:end;
  margin-right: 10px;
}

.left-icon i {
  color: gold;
  font-size: 25px;
}

#hidden-medal {
  color:transparent;
}
